<!-- Begin page content -->
<div class="container">
  <div class="mt-3">
  	<h3 class="border-bottom border-gray pb-2 mb-0">1,459 IT jobs in Vietnam for you</h3>
  </div>
  <hr>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="media text-muted pt-3">
      <div class="logo" style="padding: 10px 20px;">
      	<img src="../../../assets/images/logocompany/fpt-software-logo-65-65.png" width="60">
      </div>
      <div class="col-md-10 media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a href="#"><h4 style="color: #000000"><strong class="d-block text-gray-dark">Senior Android Developer</strong></h4></a>
        <p><strong> From 1.000$ - 2.000$</strong></p>
        <p>
        	 Perform assigned tasks independently. Ensure the assigned tasks to be performed on-time and with high quality. Investigate and analyze the requirements....
        </p>
       <p>
       	 <a class="ilabel" href="#">Mobile</a> <a class="ilabel" href="#">java</a> <a class="ilabel" href="#">Android</a>
       </p>
      </div>
       <div class="col-md-2 media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       	<label class="badge badge-warning">Hot job</label>
        <p>
        	<span>Ho Chi Minh</span><br>
        	<span>Phu Nhuan</span>
        </p>
      </div>
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="media text-muted pt-3">
      <div class="logo" style="padding: 10px 20px;">
      	<img src="../../../assets/images/logocompany/fpt-software-logo-65-65.png" width="60">
      </div>
      <div class="col-md-10 media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a href="#"><h4 style="color: #000000"><strong class="d-block text-gray-dark">Senior Android Developer</strong></h4></a>
        <p><strong> From 1.000$ - 2.000$</strong></p>
        <p>
        	 Perform assigned tasks independently. Ensure the assigned tasks to be performed on-time and with high quality. Investigate and analyze the requirements....
        </p>
       <p>
       	 <a class="ilabel" href="#">Mobile</a> <a class="ilabel" href="#">java</a> <a class="ilabel" href="#">Android</a>
       </p>
      </div>
       <div class="col-md-2 media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       	<label class="badge badge-warning">Hot job</label>
        <p>
        	<span>Ho Chi Minh</span><br>
        	<span>Phu Nhuan</span>
        </p>
      </div>
    </div>
  </div>
   <div class="mt-3 text-center">
  	<a class="btn btn-outline-secondary" href="#">Show more jobs</a>
  </div>
</div>
