/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body .container {
    padding: 60px 15px 0;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.ilabel {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 4px 5px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
}